/* TODO: Example 07 (Activity 8) CSS goes here */

//Variables
$primary-color: #6e4a73;
$secondary-color: #777;

//Mixins
@mixin make-menu() {
  list-style: none;
  padding: 0;
}

@mixin make-container($w: 80%, $m: 0) {
  width: $w;
  margin: $m auto;
}

@mixin make-button($color, $size: "normal") {
  background: $color;
  color: lighten($color, 100%);
  border: none;
  border-radius: 0.8rem;

  @if ($size: "large") {
    font-size: 1.5rem;
    padding: 1.5rem;
  } @else {
    font-size: 1rem;
    padding: 1rem;
  }
}

//General Styles
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fef0e2;
  border-bottom: 1px solid #e59d6e;
  box-shadow: 5px 3px 10px #d86827;

  ul {
    @include make-menu();
    @include make-container(96%, 1rem);
  }
}

li {
  display: inline;
  margin-right: 1rem;

  a {
    text-decoration: none;
    color: $primary-color;
  }
}

.hero {
  height: 40vh;
  margin-top: 40px;
  background-image: linear-gradient(200deg, #f1a01f 10%, #d86827 30%, #d5cbd5 70%);

  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  & > .body {
    @include make-container(96%, 1rem);
    padding: 3rem 0;
  }

  button {
    @include make-button($primary-color, "large");
  }

  h1,
  p {
    color: $primary-color;
  }

  p {
    font-size: 1.5rem;
  }
}

.content {
  @include make-container(80%);
  display: flex;

  .primary {
    flex: 4;

    h1 {
      text-shadow: 3px 3px #f4b04d;
    }
  }

  aside {
    flex: 1;
    background-color: #f0e1d9;
    margin: 1.5rem 1rem 0;
    border-radius: 1rem;
    padding: 1rem;

    .side-menu {
      position: sticky;
      top: 60px;

      h2 {
        color: $primary-color;
      }

      ul {
        line-height: 1.6rem;
        padding-left: 1rem;

        li {
          line-height: 2rem;

          a {
            text-decoration: none;
            color: $secondary-color;
          }
        }
      }
    }
  }
}

.flex-boxes {
  display: flex;
  flex-flow: row wrap;

  @for $w from 1 through 12 {
    .box-#{$w} {
      flex-basis: calc(#{$w} * 8.333%);
    }

    .box-#{$w} div {
      margin: 0.5rem;
      height: 300px;
      line-height: 300px;
      text-align: center;
      color: lighten($primary-color, 10%);
      border-radius: 0.5rem;
      border: 1px solid $primary-color;
      box-shadow: 3px 3px $primary-color;
    }
  }
}

$boxes-info: (
  "top": (
    0,
    0,
    0,
    200px,
    400px,
    400px,
  ),
  "left": (
    0,
    33.33%,
    66.67%,
    0,
    0,
    33.33%,
  ),
  "width": (
    33.33%,
    33.33%,
    33.33%,
    66.67%,
    33.33%,
    33.33%,
  ),
  "height": (
    200px,
    200px,
    600px,
    200px,
    200px,
    200px,
  ),
);

.relative-boxes {
  position: relative;
  height: 600px;

  .box div {
    background-color: $primary-color;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    color: white;
    text-align: center;
  }

  @for $i from 1 through 6 {
    .box:nth-child(#{$i}) {
      position: absolute;
      top: nth(map-get($boxes-info, "top"), $i);
      left: nth(map-get($boxes-info, "left"), $i);
      width: nth(map-get($boxes-info, "width"), $i);
      height: nth(map-get($boxes-info, "height"), $i);
      line-height: nth(map-get($boxes-info, "height"), $i);
    }
  }
}

footer {
  height: 5rem;
  line-height: 5rem;
  background-color: #f0e1d9;

  ul {
    @include make-menu();
    text-align: center;
  }
}
